<app-initheader></app-initheader>
<div class="pb-32"></div>
<mat-card style="margin-left: 35%; margin-right: 35%;">
  <h1 class="text-center">Nueva Contraseña!</h1>
  <br>
  <table class="mr-auto ml-auto">
    <tr>
      <th class="font-normal text-left align-top">
        <h2 class="pt-5">Nueva contraseña:</h2>
        <br>
        <br>
        <h2 class="pt-5">Confirmar nueva contraseña:</h2>
      </th>
      <div class="pr-10"></div>
      <th>
        <form [formGroup]="newpasswordform">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Nueva Contraseña</mat-label>
            <input matInput formControlName="password" placeholder="Ingrese la contraseña nueva" required [(ngModel)]="objectpassworduser.password">
            <mat-error>Complete este campo es requerido!</mat-error>
          </mat-form-field>
          <br>
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Confirmar nueva contraseña</mat-label>
            <input matInput formControlName="confirmpassword" placeholder="Ingrese denuevo la contraseña nueva" required>
            <mat-error>Complete este campo es requerido!</mat-error>
          </mat-form-field>
        </form>
      </th>
    </tr>
  </table>
  <br>
  <div class="text-center">
    <button mat-raised-button (click)="EditPassword()" [disabled]="newpasswordform.invalid">Cambiar contraseña</button>
  </div>
  <br>
</mat-card>
