<h1 mat-dialog-title class="text-center">Nuevo cliente!</h1>
<div mat-dialog-content>
    <form [formGroup]="customerform">
    <mat-form-field appearance="outline" class="w-96">
      <mat-label>Razon social</mat-label>
      <input matInput formControlName="businessname" placeholder="Ingrese la razon social del cliente" required maxlength="30" [(ngModel)]="customerobj.businessname">
      <mat-error *ngIf="customerform.controls['businessname'].dirty && customerform.hasError('required') || customerform.controls['businessname'].invalid">Complete este campo es requerido!</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline" class="w-96">
      <mat-label>Ruc</mat-label>
      <input matInput formControlName="ruc" placeholder="Ingrese el ruc del cliente"  required maxlength="30" [(ngModel)]="customerobj.ruc">
      <mat-error *ngIf="customerform.controls['ruc'].dirty && customerform.hasError('required') || customerform.controls['ruc'].invalid">Complete este campo es requerido!</mat-error>
    </mat-form-field>
    <br>
      <mat-form-field appearance="outline" class="w-96">
        <mat-label>Direccion Fiscal</mat-label>
        <input matInput formControlName="fiscaladdress" placeholder="Ingrese la direccion fiscal del cliente" required maxlength="30" [(ngModel)]="customerobj.fiscaladdress">
        <mat-error *ngIf="customerform.controls['fiscaladdress'].dirty && customerform.hasError('required') || customerform.controls['fiscaladdress'].invalid">Complete este campo es requerido!</mat-error>
      </mat-form-field>
    <br>
    <mat-form-field appearance="outline" class="w-96">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" placeholder="Ingrese el email del cliente" required maxlength="70" [(ngModel)]="customerobj.email">
      <mat-error *ngIf="customerform.controls['email'].touched && customerform.controls['email'].hasError('required')">Complete este campo es requerido!</mat-error>
      <mat-error *ngIf="customerform.controls['email'].dirty && customerform.controls['email'].hasError('email')">Email invalido complete con un email!</mat-error>
    </mat-form-field>
  </form>
</div>
<div class="text-center">
  <button [matDialogClose]="newcustomercreated" class="bg-black text-white" mat-raised-button [disabled]="customerform.invalid" (click)="RegisterCustomer()">Guardar</button>
</div>
