<h1 mat-dialog-title class="text-center">Nuevo cliente potencial</h1>
<div mat-dialog-content>
    <form>
    <mat-form-field appearance="outline" class="w-96">
      <mat-label>Nombres</mat-label>
      <input matInput placeholder="Ingrese los nombres del cliente" required maxlength="30">
      <mat-error>Complete este campo es requerido!</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline" class="w-96">
      <mat-label>Apellidos</mat-label>
      <input matInput placeholder="Ingrese los apellidos del cliente" required maxlength="30">
      <mat-error>Complete este campo es requerido!</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline" class="w-96">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Ingrese el email del cliente"  required maxlength="70">
      <mat-error >Complete este campo es requerido!</mat-error>
      <mat-error >Email invalido complete con un email!</mat-error>
    </mat-form-field>
    <br>
      <mat-form-field appearance="outline" class="w-96">
        <mat-label>Telefono</mat-label>
        <input matInput placeholder="Ingrese el telefono del cliente" required maxlength="15">
        <mat-error>Complete este campo es requerido!</mat-error>
      </mat-form-field>
    <br>
    <mat-form-field appearance="outline" class="w-96">
      <mat-label>Rut</mat-label>
      <input matInput placeholder="Ingrese el rut del cliente" required maxlength="15">
      <mat-error>Complete este campo es requerido!</mat-error>
    </mat-form-field>
  </form>
</div>
<div class="text-center">
  <button matDialogClose class="bg-blue-400 text-white" mat-raised-button (click)="RegisterCustomer()">Guardar</button>
</div>
