<h1 mat-dialog-title class="text-center">Nuevo cliente!</h1>
<div mat-dialog-content>
    <form>
    <mat-form-field appearance="outline" class="w-96">
      <mat-label>Nombre</mat-label>
      <input matInput placeholder="Ingrese el nombre del cliente" required maxlength="30">
      <mat-error>Complete este campo es requerido!</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline" class="w-96">
      <mat-label>Razon social</mat-label>
      <input matInput placeholder="Ingrese la razon social del cliente" required maxlength="30">
      <mat-error>Complete este campo es requerido!</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline" class="w-96">
      <mat-label>Ruc</mat-label>
      <input matInput placeholder="Ingrese el ruc del cliente"  required maxlength="30">
      <mat-error >Complete este campo es requerido!</mat-error>
    </mat-form-field>
    <br>
      <mat-form-field appearance="outline" class="w-96">
        <mat-label>Direccion Fiscal</mat-label>
        <input matInput placeholder="Ingrese la direccion fiscal del cliente" required maxlength="30">
        <mat-error>Complete este campo es requerido!</mat-error>
      </mat-form-field>
    <br>
    <mat-form-field appearance="outline" class="w-96">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Ingrese el email del cliente" required maxlength="15">
      <mat-error>Complete este campo es requerido!</mat-error>
      <mat-error>Email invalido complete con un email!</mat-error>
    </mat-form-field>
  </form>
</div>
<div class="text-center">
  <button matDialogClose class="bg-blue-400 text-white" mat-raised-button (click)="RegisterCustomer()">Guardar</button>
</div>
