<app-initheader></app-initheader>
<div class="pt-72"></div>
<mat-card class="w-1/4 ml-auto mr-auto">
<h1 class="text-center">Recuperar Contraseña!</h1>
<br>
<h2>Ingresa tu correo electrónico para confirmar su cuenta!</h2>
<br>
<form [formGroup]="recoverpasswordform">
  <mat-form-field appearance="outline" class="w-full">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" placeholder="Ingrese su email" required maxlength="70" [(ngModel)]="sendemail">
    <mat-error *ngIf="recoverpasswordform.controls['email'].touched && recoverpasswordform.controls['email'].hasError('required')">Complete este campo es requerido!</mat-error>
    <mat-error *ngIf="recoverpasswordform.controls['email'].dirty && recoverpasswordform.controls['email'].hasError('email')">Email invalido complete con un email!</mat-error>
  </mat-form-field>
</form>
<br>
<div class="text-center">
  <button mat-raised-button (click)="SendEmail()" [disabled]="recoverpasswordform.invalid">Enviar</button>
</div>
</mat-card>