<app-initheader></app-initheader>
<div class="pt-72"></div>
<mat-card class="w-1/4 ml-auto mr-auto">
<h1 class="text-center">Recuperar Contraseña!</h1>
<br>
<h2>Ingresa tu correo electrónico para enviarte una nueva contraseña</h2>
<br>
<form>
  <mat-form-field appearance="outline" class="w-full">
    <mat-label>Email</mat-label>
    <input matInput placeholder="Ingrese su email" required maxlength="70">
    <mat-error>Complete este campo es requerido!</mat-error>
  </mat-form-field>
</form>
</mat-card>