<app-header-home></app-header-home>
<div class="pb-10"></div>
<mat-card class="mat-elevation mr-5 ml-5">
    <div class="pb-10"></div>
    <h1 class="text-center">Historial de actividades!</h1>
    <div class="pb-10"></div>
    <div class="border ml-5 mr-5">
      <table mat-table [dataSource]="dataSource" class="w-full">
    
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef> Titulo</th>
          <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>
    
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef> Descripción</th>
          <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>
    
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Fecha </th>
          <td mat-cell *matCellDef="let element"> {{element.date}} </td>
        </ng-container>
    
        <ng-container matColumnDef="sale">
          <th mat-header-cell *matHeaderCellDef> Venta </th>
          <td mat-cell *matCellDef="let element"> {{element.sale.name}} </td>
        </ng-container>

        <ng-container matColumnDef="customer">
          <th mat-header-cell *matHeaderCellDef> Cliente </th>
          <td mat-cell *matCellDef="let element"> {{element.sale.customer.name}} </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    
      <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                     showFirstLastButtons 
                     aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>
    <div class="pb-5"></div>
  </mat-card>
<div class="pb-5"></div>