<app-initheader></app-initheader>
<div>
  <div class="pt-28"></div>
  <h1 class="text-3xl font-bold text-center">Seleccione su tipo de cuenta</h1>
  <br>
  <br>
  <div class="text-center">
    <div class="inline-flex">
        <button mat-raised-button routerLink="/register/SalesManager">
          <img src="assets/images/Jefe_Ventas.jpg" class="h-96">
          <br>
          <h1>Ventas MRO</h1>
        </button>
        <div class="pr-10"></div>
        <button mat-raised-button routerLink="/register/ProjectManager">
          <img src="assets/images/Jefe_Proyecto.jpg" class="h-96">
          <br>
          <h1>Proyectos</h1>
        </button>
        <div class="pr-10"></div>
        <button mat-raised-button routerLink="/register/EngineeringChief">
          <img src="assets/images/Jefe_Ingenieria.jpg" class="h-96">
          <br>
          <h1>Servicios</h1>
        </button>
    </div>
  </div>
</div>