<app-initheader></app-initheader>
<div>
  <div class="pt-28"></div>
  <h1 class="text-3xl font-bold text-center">Seleccione su tipo de cuenta</h1>
  <br>
  <br>
  <div class="text-center">
    <div class="inline-flex">
        <button mat-raised-button>
          <img src="assets/images/Jefe_Ventas.jpg">
          <h1>Jefe de Ventas</h1>
        </button>
        <div class="pr-10"></div>
        <button mat-raised-button>
          <img src="assets/images/Jefe_Proyecto.jpg">
          <h1>Jefe de Proyectos</h1>
        </button>
        <div class="pr-10"></div>
        <button mat-raised-button>
          <img src="assets/images/Jefe_Ingenieria.jpg">
          <h1>Jefe de Ingenieria</h1>
        </button>
    </div>
  </div>
</div>