<app-initheader></app-initheader>
<div style="background-image: url('assets/images/bg_login.jpeg');  background-repeat: no-repeat;  background-position: center;  background-size: cover;">
  <div class="pt-28"></div>
  <h1 class="text-3xl text-center text-white font-medium">Seleccione su tipo de cuenta</h1>
  <br>
  <br>
  <div class="text-center">
    <div class="inline-flex mr-5 ml-5">
        <button mat-raised-button routerLink="/register/SalesManager" class="bg-blue-900 text-white">
          <img src="assets/images/Jefe_Ventas.jpg" class="h-96">
          <br>
          <h1>Ventas MRO</h1>
        </button>
        <div class="pr-10"></div>
        <button mat-raised-button routerLink="/register/ProjectManager" class="bg-blue-900 text-white">
          <img src="assets/images/Jefe_Proyecto.jpg" class="h-96">
          <br>
          <h1>Proyectos</h1>
        </button>
        <div class="pr-10"></div>
        <button mat-raised-button routerLink="/register/EngineeringChief" class="bg-blue-900 text-white">
          <img src="assets/images/Jefe_Ingenieria.jpg" class="h-96">
          <br>
          <h1>Servicios</h1>
        </button>
    </div>
  </div>
  <div class="pt-40"></div>
  <div class="pt-2"></div>
</div>