<app-header-home></app-header-home>
<div class="pb-32"></div>
<mat-card class="ml-5 mr-5">  
  <div style="padding-left: 43%;">
    <div class="inline-flex">
      <img src="assets/images/perfil.png">
      <div class="pr-5"></div>
      <button class="pt-40">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
  <br>
  <br>
  <div class="text-center">
    <div class="inline-flex">
      <h1>Nombre: Nombre usuario</h1>
      <div class="pr-40"></div>
      <h1>Apellido: Apellido usuario</h1>
    </div>
    <br>
    <br>
    <br>
    <div class="inline-flex">
      <h1>Email: Email usuario</h1>
      <div class="pr-44"></div>
      <h1>Tipo de usuario: Tipo usuario</h1>
    </div>
    <br>
    <br>
    <br>
    <h1>Contraseña: Contraseña usuario</h1>
  </div>
  
</mat-card>
