<h1 mat-dialog-title class="text-center">Nueva Cotización!</h1>
<div mat-dialog-content>
    <form [formGroup]="salesform">
    <mat-form-field appearance="outline" class="w-96">
      <mat-label>Número de propuesta</mat-label>
      <input matInput formControlName="name" placeholder="Ingrese el número de propuesta de su cotización" required maxlength="30" [(ngModel)]="saleobj.name">
      <mat-error *ngIf="salesform.controls['name'].dirty && salesform.hasError('required') || salesform.controls['name'].invalid">Complete este campo es requerido!</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline" class="w-96">
      <mat-label>Razon social de Cliente</mat-label>
      <mat-select formControlName="customername">
        <mat-option *ngFor="let cbusinessname of customers" [value]="cbusinessname.businessname">{{cbusinessname.businessname}}</mat-option>
      </mat-select>
      <mat-error *ngIf="salesform.controls['customername'].dirty && salesform.hasError('required') || salesform.controls['customername'].invalid">Complete este campo es requerido!</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline" class="w-96">
      <mat-label>Referencia</mat-label>
      <input matInput formControlName="reference" placeholder="Ingrese una referencia para su cotización" required [(ngModel)]="saleobj.reference">
      <mat-error *ngIf="salesform.controls['reference'].dirty && salesform.hasError('required') || salesform.controls['reference'].invalid">Complete este campo es requerido!</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline" class="w-96">
      <mat-label>Fecha de cierre</mat-label>
      <input matInput formControlName="date" [matDatepicker]="picker" [min]="datenow" placeholder="Ingrese la fecha de finalización" required [(ngModel)]="saleobj.finishdate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="salesform.controls['date'].dirty && salesform.hasError('required') || salesform.controls['date'].invalid">Complete este campo es requerido!</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline" class="w-96">
      <mat-label>Importe</mat-label>
      <input matInput formControlName="import" placeholder="Ingrese el importe de la cotización"  required [(ngModel)]="saleobj.amount">
      <mat-error *ngIf="salesform.controls['import'].dirty && salesform.hasError('required') || salesform.controls['import'].invalid">Complete este campo es requerido!</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline" class="w-96">
      <mat-label>Tipo de moneda</mat-label>
      <mat-select formControlName="typemoney" required [(ngModel)]="saleobj.typecoin">
        <mat-option *ngFor="let type of types" [value]="type">{{type}}</mat-option>
      </mat-select>
      <mat-error *ngIf="salesform.controls['typemoney'].dirty && salesform.hasError('required') || salesform.controls['typemoney'].invalid">Complete este campo es requerido!</mat-error>
    </mat-form-field>
  </form>
</div>
<div class="text-center">
  <button [matDialogClose]="newsalecreated" class="bg-blue-400 text-white" mat-raised-button [disabled]="salesform.invalid" (click)="RegisterSales()">Guardar</button>
</div>
