<header>
  <mat-toolbar class="bg-blue-300">
      <a routerLink="/home">
        <img src="assets/images/Logo.png">
      </a>
      <span>CRM</span>
      <div class="flex-auto"></div>
      <a routerLink="/home">Inicio</a>
      <div class="pr-10"></div>
      <a routerLink="/customers">Clientes</a>
      <div class="pr-10"></div>
      <a routerLink="/sales">Cotizaciones</a>
      <div class="pr-10"></div>
      <a routerLink="/activities">Actividades</a>
      <div class="pr-10"></div>
      <img src="assets/images/perfil.png" class="h-14">
      <div class="pr-2"></div>
      <button [matMenuTriggerFor]="menu">
        <img src="assets/images/arrow-down.png" class="h-5 w-5">
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Perfil</button>
        <button mat-menu-item routerLink="/login">Salir</button>
      </mat-menu>
  </mat-toolbar>
</header>
