<app-header-home></app-header-home>
<div class="pb-5"></div>
<mat-card class="mat-elevation ml-5 mr-5">
  <div class="pb-5"></div>
  <div class="text-center">
    <div class="inline-flex">
      <h1 class="pt-2">Cotizaciones!</h1>
      <div class="pr-96"></div>
      <div class="pr-96"></div>
      <div class="pr-96"></div>
      <div class="pr-60"></div>
      <button mat-raised-button (click)="OpenCreateSales()">
        Nuevas Cotizaciones
      </button>
    </div>
  </div>
  <br>
  <div class="inline-flex">
    <div class="pl-20"></div>
    <div class="pl-2"></div>
    <div class="pl-0.5"></div>
    <mat-form-field appearance="outline">
      <mat-label>Seleccionar Mes</mat-label>
      <mat-select>
        <mat-option value="Mes">Mes</mat-option>
      </mat-select>
    </mat-form-field>
  </div> 
  <div class="pb-8"></div>
  <table class="w-full border-4">
    <tr>
      <th>
        <mat-card>
          <h1 class="text-2xl">Clientes</h1>
        </mat-card>
      </th>
      <th>
        <mat-card>
          <h1 class="text-2xl">Propuesta Inicial</h1>
        </mat-card>
      </th>
      <th>
        <mat-card>
          <h1 class="text-2xl">Presupuesto</h1>
        </mat-card>
      </th>
      <th>
        <mat-card>
          <h1 class="text-2xl">Negociación</h1>
        </mat-card>
      </th>
      <th>
        <mat-card>
          <h1 class="text-2xl">Cerrada</h1>
        </mat-card>
      </th>
    </tr>
    <div class="pb-5"></div>
    <tr *ngFor="let item of dataSource.data">
      <th class="border-x-4">
        <button class="w-full" (click)="GoToInsideSale(item.id)">
          <mat-card class="w-4/5 ml-auto mr-auto">
            <mat-card-title>{{item.name}}</mat-card-title>
            <mat-card-content>
              <h1>{{item.amount}}</h1>
              <h1>{{item.customer.name}}</h1>
            </mat-card-content>
          </mat-card>
        </button>
        <div class="pb-5"></div>
      </th>
    </tr>
  </table>
  <div class="pb-5"></div>
</mat-card>
<div class="pb-5"></div>