<app-header-home></app-header-home>
<div class="pb-5"></div>
<mat-card class="mat-elevation ml-5 mr-5">
  <div class="pb-5"></div>
  <div class="text-center">
    <div class="inline-flex">
      <h1 class="pt-2">Cotizaciones!</h1>
      <div class="pr-96"></div>
      <div class="pr-96"></div>
      <div class="pr-96"></div>
      <div class="pr-60"></div>
      <button mat-raised-button (click)="OpenCreateSales()">
        Nuevas Cotizaciones
      </button>
    </div>
  </div>
  <br>
  <div *ngIf="whois == 'HomeSalesManager' && userurlobject.typeusersale == 'Jefe de ventas'">
    <form [formGroup]="typeusersaleform">
      <div class="inline-flex">
        <div class="pl-16"></div>
        <div class="pl-2"></div>
        <div class="pl-0.5"></div>
        <mat-form-field appearance="outline">
          <mat-label>Seleccionar asesores</mat-label>
          <mat-select formControlName="typeuser" >
            <mat-option *ngFor="let user of users" [value]="user">{{user}}</mat-option>
          </mat-select>
        </mat-form-field>
        <div class="pr-8"></div>
        <div class="pt-4">
          <button mat-raised-button class="h-10" (click)="RealizarFiltroVenta()">Filtrar por Asesor</button>
        </div>
      </div>
    </form>
  </div>
  <div class="inline-flex">  
    <form [formGroup]="yearmonthform">
      <div class="inline-flex">
        <div class="pl-16"></div>
        <div class="pl-2"></div>
        <div class="pl-0.5"></div>
          <mat-form-field appearance="outline">
            <mat-label>Seleccionar Mes</mat-label>
            <mat-select formControlName="month">
              <mat-option *ngFor="let month of months" [value]="month">{{month}}</mat-option>
            </mat-select>
            <mat-error>Por favor complete este campo para realizar el filtro</mat-error>
          </mat-form-field>
          <div class="pr-5"></div>
          <mat-form-field appearance="outline">
            <mat-label>Seleccionar Año</mat-label>
            <input matInput formControlName="year">
            <mat-error>Por favor complete este campo para realizar el filtro</mat-error>
          </mat-form-field>
      </div> 
    </form>
    <div class="pr-10"></div>
    <div class="pt-4">
      <button mat-raised-button class="h-10" (click)="RealizarFiltro()" [disabled]="yearmonthform.invalid">Filtrar por mes y año</button>
    </div>
  </div>
  <div class="pb-8"></div>
  <table class="w-full border-4">
    <tr>
      <th>
        <mat-card>
          <h1 class="text-2xl">Propuesta inicial</h1>
        </mat-card>
      </th>
      <th>
        <mat-card>
          <h1 class="text-2xl">Evaluación tecnica</h1>
        </mat-card>
      </th>
      <th>
        <mat-card>
          <h1 class="text-2xl">Evaluación comercial</h1>
        </mat-card>
      </th>
      <th>
        <mat-card>
          <h1 class="text-2xl">Cerrada (OC)</h1>
        </mat-card>
      </th>
      <th>
        <mat-card>
          <h1 class="text-2xl">Perdida - Desestimada</h1>
        </mat-card>
      </th>
    </tr>  
    <th class="border-x-4 w-96">
      <div class="pb-5"></div>
        <tr *ngFor="let item of dataSource2.data">
          <div *ngIf="userurlobject.typeusersale != 'Asesor de ventas'">
            <mat-card class="w-4/5 ml-auto mr-auto">
              <button class="w-full" (click)="GoToInsideSale(item.id)">
                <mat-card-content>
                  <h1>{{item.customer.businessname}}</h1>
                  <h1>{{item.name}}</h1>
                  <h1>{{item.typecoin}} {{item.amount}}</h1>
                </mat-card-content>
              </button>
              <form [formGroup]="statusform">
                <mat-form-field appearance="outline" class="w-36 h-10">
                  <mat-label>Estado</mat-label>
                  <mat-select formControlName="status" (selectionChange)="Changestatus($event.value,item.id)">
                    <mat-option *ngFor="let onestatus of lotstatus" [value]="onestatus">{{onestatus}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </form>
              <div class="pb-5"></div>
            </mat-card>
            <div class="pb-5"></div>
        </div>
        <div *ngIf="userurlobject.typeusersale == 'Asesor de ventas'">
          <div *ngIf="item.user.name == userurlobject.name && item.user.typeusersale == 'Asesor de ventas'">
            <mat-card class="w-4/5 ml-auto mr-auto">
              <button class="w-full" (click)="GoToInsideSale(item.id)">
                <mat-card-content>
                  <h1>{{item.customer.businessname}}</h1>
                  <h1>{{item.name}}</h1>
                  <h1>{{item.typecoin}} {{item.amount}}</h1>
                </mat-card-content>
              </button>
              <form [formGroup]="statusform">
                <mat-form-field appearance="outline" class="w-36 h-10">
                  <mat-label>Estado</mat-label>
                  <mat-select formControlName="status" (selectionChange)="Changestatus($event.value,item.id)">
                    <mat-option *ngFor="let onestatus of lotstatus" [value]="onestatus">{{onestatus}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </form>
              <div class="pb-5"></div>
            </mat-card>
            <div class="pb-5"></div>
          </div>
        </div>
        </tr>
    </th>
    <th class="border-x-4 w-64">
        <tr *ngFor="let item of dataSource3.data">
          <div *ngIf="userurlobject.typeusersale != 'Asesor de ventas'">
            <mat-card class="w-4/5 ml-auto mr-auto">
              <button class="w-full" (click)="GoToInsideSale(item.id)">
                <mat-card-content>
                  <h1>{{item.customer.businessname}}</h1>
                  <h1>{{item.name}}</h1>
                  <h1>{{item.typecoin}} {{item.amount}}</h1>
                </mat-card-content>
              </button>
              <form [formGroup]="statusform">
                <mat-form-field appearance="outline" class="w-36 h-10">
                  <mat-label>Estado</mat-label>
                  <mat-select formControlName="status" (selectionChange)="Changestatus($event.value,item.id)">
                    <mat-option *ngFor="let onestatus of lotstatus" [value]="onestatus">{{onestatus}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </form>
              <div class="pb-5"></div>
            </mat-card>
            <div class="pb-5"></div>
        </div>
        <div *ngIf="userurlobject.typeusersale == 'Asesor de ventas'">
          <div *ngIf="item.user.name == userurlobject.name && item.user.typeusersale == 'Asesor de ventas'">
            <mat-card class="w-4/5 ml-auto mr-auto">
              <button class="w-full" (click)="GoToInsideSale(item.id)">
                <mat-card-content>
                  <h1>{{item.customer.businessname}}</h1>
                  <h1>{{item.name}}</h1>
                  <h1>{{item.typecoin}} {{item.amount}}</h1>
                </mat-card-content>
              </button>
              <form [formGroup]="statusform">
                <mat-form-field appearance="outline" class="w-36 h-10">
                  <mat-label>Estado</mat-label>
                  <mat-select formControlName="status" (selectionChange)="Changestatus($event.value,item.id)">
                    <mat-option *ngFor="let onestatus of lotstatus" [value]="onestatus">{{onestatus}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </form>
              <div class="pb-5"></div>
            </mat-card>
            <div class="pb-5"></div>
          </div>
        </div>
        </tr>
    </th>
    <th class="border-x-4 w-64">
      <tr *ngFor="let item of dataSource4.data">
        <div *ngIf="userurlobject.typeusersale != 'Asesor de ventas'">
          <mat-card class="w-4/5 ml-auto mr-auto">
            <button class="w-full" (click)="GoToInsideSale(item.id)">
              <mat-card-content>
                <h1>{{item.customer.businessname}}</h1>
                <h1>{{item.name}}</h1>
                <h1>{{item.typecoin}} {{item.amount}}</h1>
              </mat-card-content>
            </button>
            <form [formGroup]="statusform">
              <mat-form-field appearance="outline" class="w-36 h-10">
                <mat-label>Estado</mat-label>
                <mat-select formControlName="status" (selectionChange)="Changestatus($event.value,item.id)">
                  <mat-option *ngFor="let onestatus of lotstatus" [value]="onestatus">{{onestatus}}</mat-option>
                </mat-select>
              </mat-form-field>
            </form>
            <div class="pb-5"></div>
          </mat-card>
          <div class="pb-5"></div>
      </div>
      <div *ngIf="userurlobject.typeusersale == 'Asesor de ventas'">
        <div *ngIf="item.user.name == userurlobject.name && item.user.typeusersale == 'Asesor de ventas'">
          <mat-card class="w-4/5 ml-auto mr-auto">
            <button class="w-full" (click)="GoToInsideSale(item.id)">
              <mat-card-content>
                <h1>{{item.customer.businessname}}</h1>
                <h1>{{item.name}}</h1>
                <h1>{{item.typecoin}} {{item.amount}}</h1>
              </mat-card-content>
            </button>
            <form [formGroup]="statusform">
              <mat-form-field appearance="outline" class="w-36 h-10">
                <mat-label>Estado</mat-label>
                <mat-select formControlName="status" (selectionChange)="Changestatus($event.value,item.id)">
                  <mat-option *ngFor="let onestatus of lotstatus" [value]="onestatus">{{onestatus}}</mat-option>
                </mat-select>
              </mat-form-field>
            </form>
            <div class="pb-5"></div>
          </mat-card>
          <div class="pb-5"></div>
        </div>
      </div>
      </tr>
    </th>
    <th class="border-x-4 w-64">
      <tr *ngFor="let item of dataSource5.data">
        <div *ngIf="userurlobject.typeusersale != 'Asesor de ventas'">
          <mat-card class="w-4/5 ml-auto mr-auto">
            <button class="w-full" (click)="GoToInsideSale(item.id)">
              <mat-card-content>
                <h1>{{item.customer.businessname}}</h1>
                <h1>{{item.name}}</h1>
                <h1>{{item.typecoin}} {{item.amount}}</h1>
              </mat-card-content>
            </button>
            <form [formGroup]="statusform">
              <mat-form-field appearance="outline" class="w-36 h-10">
                <mat-label>Estado</mat-label>
                <mat-select formControlName="status" (selectionChange)="Changestatus($event.value,item.id)">
                  <mat-option *ngFor="let onestatus of lotstatus" [value]="onestatus">{{onestatus}}</mat-option>
                </mat-select>
              </mat-form-field>
            </form>
            <div class="pb-5"></div>
          </mat-card>
          <div class="pb-5"></div>
      </div>
      <div *ngIf="userurlobject.typeusersale == 'Asesor de ventas'">
        <div *ngIf="item.user.name == userurlobject.name && item.user.typeusersale == 'Asesor de ventas'">
          <mat-card class="w-4/5 ml-auto mr-auto">
            <button class="w-full" (click)="GoToInsideSale(item.id)">
              <mat-card-content>
                <h1>{{item.customer.businessname}}</h1>
                <h1>{{item.name}}</h1>
                <h1>{{item.typecoin}} {{item.amount}}</h1>
              </mat-card-content>
            </button>
            <form [formGroup]="statusform">
              <mat-form-field appearance="outline" class="w-36 h-10">
                <mat-label>Estado</mat-label>
                <mat-select formControlName="status" (selectionChange)="Changestatus($event.value,item.id)">
                  <mat-option *ngFor="let onestatus of lotstatus" [value]="onestatus">{{onestatus}}</mat-option>
                </mat-select>
              </mat-form-field>
            </form>
            <div class="pb-5"></div>
          </mat-card>
          <div class="pb-5"></div>
        </div>
      </div>
      </tr>
    </th>
    <th class="border-x-4 w-96">
      <tr *ngFor="let item of dataSource6.data">
        <div *ngIf="userurlobject.typeusersale != 'Asesor de ventas'">
          <mat-card class="w-4/5 ml-auto mr-auto">
            <button class="w-full" (click)="GoToInsideSale(item.id)">
              <mat-card-content>
                <h1>{{item.customer.businessname}}</h1>
                <h1>{{item.name}}</h1>
                <h1>{{item.typecoin}} {{item.amount}}</h1>
              </mat-card-content>
            </button>
            <form [formGroup]="statusform">
              <mat-form-field appearance="outline" class="w-36 h-10">
                <mat-label>Estado</mat-label>
                <mat-select formControlName="status" (selectionChange)="Changestatus($event.value,item.id)">
                  <mat-option *ngFor="let onestatus of lotstatus" [value]="onestatus">{{onestatus}}</mat-option>
                </mat-select>
              </mat-form-field>
            </form>
            <div class="pb-5"></div>
          </mat-card>
          <div class="pb-5"></div>
      </div>
      <div *ngIf="userurlobject.typeusersale == 'Asesor de ventas'">
        <div *ngIf="item.user.name == userurlobject.name && item.user.typeusersale == 'Asesor de ventas'">
          <mat-card class="w-4/5 ml-auto mr-auto">
            <button class="w-full" (click)="GoToInsideSale(item.id)">
              <mat-card-content>
                <h1>{{item.customer.businessname}}</h1>
                <h1>{{item.name}}</h1>
                <h1>{{item.typecoin}} {{item.amount}}</h1>
              </mat-card-content>
            </button>
            <form [formGroup]="statusform">
              <mat-form-field appearance="outline" class="w-36 h-10">
                <mat-label>Estado</mat-label>
                <mat-select formControlName="status" (selectionChange)="Changestatus($event.value,item.id)">
                  <mat-option *ngFor="let onestatus of lotstatus" [value]="onestatus">{{onestatus}}</mat-option>
                </mat-select>
              </mat-form-field>
            </form>
            <div class="pb-5"></div>
          </mat-card>
          <div class="pb-5"></div>
        </div>
      </div>
      </tr>
    </th>
  </table>
  <div class="pb-5"></div>
</mat-card>
<div class="pb-5"></div>